.head{
  background-image: url(./components/image/mainpage.png);
}
.templete{
  background-image: url(./components/image/handle.png);
  margin-top: 130px;
}
.feature{
  margin-top: 97px;
  text-align: center;
}